*{
    margin:0;
}
.header{
    background-color: rgb(43, 40, 40);
    height: 80px;
    color:white;
    display: flex;
}
.main{
    background-color: rgb(200, 191, 191);
    padding: 20px 0px;
}
.footer{
    background-color: black;
    color: white;
    padding:50px;
    font-size: 15px;
}
.footer a{
    color: Blue;
    font-size: 18px;
    text-decoration: none;
}
.leftPanel{
    /* background-color: red; */
    width: 40%;
}
.rightPanel a{
    /* background-color: green; */
    width: 60%;
    color: white;
    text-decoration: none;
    margin: 70px;

}
.flexContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 17px;
}
.card{
    box-shadow:0 0 10px Red;
    padding:10px;
    width:270px;
    height:430px;
}
#cardContainer{
    display: flex;
    justify-content: space-evenly;
}
.card h3, p{
    margin:15px 0px;
}
