.leftPanel{
    /* background-color: red; */
    width: 25%;
}
.rightPanel {
  display: flex;
  align-items: center;
  gap: 20px;
}

.rightPanel a {
 /* background-color: green; */
  color: white;
  text-decoration: none;
  padding: 8px 12px;
}

.separator {
  color: white;
}

.flexContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
}
.header{
    background-color: rgb(43, 40, 40);
    height: 80px;
    color:white;
    display: flex;
    padding: 10px;
}